* {
	margin:0;
	padding:0;
}

html, body {
	height:100%;
	width:100%;
}

canvas {
	display:block;
}

#pageTitle {
	position:relative; 
	left:15px;
}

#garibaldiHTML5 {
	position:relative;
	top:20px;
}

#loadingOverlay {
	background-color: gray; 
	opacity: 0.3;
	position: absolute;
	background-image: url('resources/loading.GIF'); 
	background-repeat: no-repeat; 
	background-position: center center; 
	z-index: 5000; 
}

/*Adjusts positioning for images in button (specifically the forward/backward buttons)*/

.imgInButton {
	border-style: hidden;
	background-color: transparent; 
}

/*CSS positioning the forward and backward buttons*/

#jumpBack {
	position: absolute;
	top: 45%;
}

#jumpForward {
	position: absolute;
	top: 45%;
	right: 0px;
}

/*CSS for all of the black divs containing buttons or text*/

.bar {
	position:absolute; 
	padding:5px;

	top: 88%; left: 50%;
  	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

	background-color:rgba(0, 0, 0, 0.5); 

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; /* future proofing */
	-khtml-border-radius: 5px; /* for old Konqueror browsers */
}

/*Positions the navigation image and label adjacent to the image*/

.navImg {
	position:absolute;
	top: -4%; left: 50%;
  	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.navImgHelp {
	position:absolute;
	top: -10%; left: -19%;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; /* future proofing */
	-khtml-border-radius: 5px; /* for old Konqueror browsers */

	color:#e3e3e3;
	font-family:Sans-serif;
	font-size:10px;
	font-weight:bold;
	background-color:rgba(0, 0, 0, 0.7); 
	padding:2px 6px;
}

/*Positions the label indicating the scene number*/

#currentSlideLabel {
	top: 5%; 
	left:15%;
	padding:8px;
	color:#e3e3e3;
	font-family:Sans-serif;
	font-size:15px;
	text-decoration:none;
}

/*The flip bar and button*/

#flipBar {
	top: 5%;
	left:85%; 
	color:#e3e3e3;
	font-family:Sans-serif;
	font-size:15px;
	text-decoration:none;
}

#flip {
	padding:3px 15px;
}


/*CSS for all buttons overlaid on the panorama*/

.controlButton {
	background-color:transparent;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#e3e3e3;
	font-family:Sans-serif;
	font-size:15px;
	padding:5px 20px;
	text-decoration:none;
	vertical-align:middle; 
}
.controlButton:hover {
	background-color:transparent;
}
.controlButton:active {
	position:relative;
	top:1px;
}

.instructions {

margin: 0px 20px 0px 20px;
font-style: italic;


}
