@charset "UTF-8";
/* CSS Document */
.pagination, #page-nav ul, .nav li{
	margin: 0;
}

.nav li + .nav-header {
margin-top: 0;
}

.dropdown-menu{
	min-width: 2em;
	background: none;
	padding: 0;
	border: 0;
	left: auto;
	right: -.6em;
}

.pagination ul > li > a, .pagination ul > li > span {
	float: none;
	text-align: center;
}

.pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
	border-left-width: 0;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-left-radius: 0;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-topright: 4px;
}

.pagination ul > li:last-child > a, .pagination ul > li:last-child > span {
	-webkit-border-top-right-radius: 0;
	border-top-right-radius: 0;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomleft: 4px;
}

#page-nav{
	border: 0;
	border-radius: 0;
}

#page-nav.affix{
	top: 0;
	position: fixed;
	width: 100%;
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

#page-nav.affix-top{
	box-shadow: 0;
}

.arrow {
	left: 50%;
	margin-left: -11px;
	border-width: 11px;
}

.arrow, .arrow:after {
	position: absolute;
	display: none;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}

.arrow:after {
	top: -2px;
	margin-left: -10px;
	border-top-color: #f5f5f5;
	border-bottom-width: 0;
	border-width: 10px;
	content: "";
}

.affix .arrow, .affix .arrow:after{
	display: block;
}

#affix-wrapper{
	margin-bottom: 1em;
}

.nav-tabs{
	border: 0;
}

#page-nav .nav-header{
	padding: 2px 15px 0;
}

#page-nav button{
	margin-right: 3px;
}

#page-nav .btn-group > a{
	width: 4.2em;
}

#page-group-nav{
	text-align: center;
	padding: 1em;
}

section .row-fluid{
	margin-bottom: 1em;
}

section .placeholder{
	border: 2px rgba(0,0,0,.4) dotted;
	padding: 1em;
}

article{
	font-size: 120%;
	line-height: 1.5;
}

article h5{
	font-size: 16px;
	line-height: 1.5;
}

article blockquote{
	border-left: 5px solid #A17D49;
}

article ul{
	list-style: none;
}

article ul .label{
	margin-right: .5em;
}
