.hor
{
  float:left;
  width:100%;
  overflow:hidden
}

.circle {
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
}

#posts
{
/*Need to change with javascripts*/
  width:3500px;
  height:100%
}

.post
{
  height:440px;
  float:left;
  background:#f7f0e6;
  padding-left:10px;
  padding-top:10px;
  width:450px;
  display:inline;
  border-left:1px solid #eee;
  border-right:1px solid #eee;
  border-bottom:1px solid #eee;
  min-height:100%
}

.post:first-child{
  border-left: none;
}

.post:last-child{
  border-right: none;
}

.post p
{
  text-align:justify;
  padding-right:30px;
  padding-left:15px;
  line-height:20px
}

.carousel-nav a
{
  display:block;
  width:22px;
  height:22px;
  background:url(../img/bullets.png) no-repeat;
  text-indent:-9999px;
  border:0;
  margin-right:3px;
  float:left
}

.carousel-nav a.active
{
  opacity:.2
}

.entry
{
  text-align:center;
  width:275px;
  float:left;
  margin:8px;
  padding:10px;
  border:1px solid #eee;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px
}

.artist
{
  padding-top:10px;
  padding-bottom:10px
}

.description
{
  text-align:justify;
  font-size:9pt
}

.entry .abstract p
{
  text-align:justify;
  font-size:12px
}

.entry .type
{
  visibility:hidden
}

.entry .citation
{
  font-weight:700
}

.isotope,.isotope .isotope-item
{
/* change duration value to whatever you like */
  -webkit-transition-duration:.8s;
  -moz-transition-duration:.8s;
  -ms-transition-duration:.8s;
  -o-transition-duration:.8s;
  transition-duration:.8s
}

.isotope
{
  -webkit-transition-property:height,width;
  -moz-transition-property:height,width;
  -ms-transition-property:height,width;
  -o-transition-property:height,width;
  transition-property:height,width
}

.isotope .isotope-item
{
  -webkit-transition-property:-webkit-transform,opacity;
  -moz-transition-property:-moz-transform,opacity;
  -ms-transition-property:-ms-transform,opacity;
  -o-transition-property:top,left,opacity;
  transition-property:transform,opacity
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,.isotope.no-transition .isotope-item,.isotope .isotope-item.no-transition
{
  -webkit-transition-duration:0;
  -moz-transition-duration:0;
  -ms-transition-duration:0;
  -o-transition-duration:0;
  transition-duration:0
}

/*For grayscale images*/
img.img-grayscale
{
  filter:url(filters.svg#grayscale);
/* Firefox 3.5+ */
  filter:gray;
/* IE6-9 */
  -webkit-filter:grayscale(1)
/* Google Chrome & Safari 6+ */
}

img.img-grayscale:hover
{
  filter:none;
  -webkit-filter:grayscale(0)
}

/*Pamphlets Table; Can potentially be for other tables*/

table td.thumb{
  width: 100px;
}
table img
{
  width:100%;
}

tbody a.btn
{
  margin:2px 0
}

.arrow
{
  color:#08c;
  font-size:1.3em
}

.rotate90
{
  -moz-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  display:inline-block
}

.navbar
{
  background:url(../img/navbar-bg.png) 2400px -7px repeat-x;
/*background:#DDC371;*/
  margin-bottom:0;
}

@media screen and (max-width: 800px) and (min-width: 0px) {
  .navbar
  {
    height:80px
  }
  
  .navbar .container
  {
    width:100%
  }
  
  .navbar .brand
  {
    width:50%
  }
  
  .navbar .nav img
  {
    height:48px
  }
  
  .navbar .nav a
  {
    font-size:.85em
  }
}

.main-nav strong
{
  font-size:12px;
  line-height:20px
}

.swipe
{
  padding-bottom:20px;
  position:relative;
  z-index:1;
  -webkit-perspective:1000;
  -webkit-backface-visibility:hidden
}

.swipe li div,.swipe div div div
{
  margin:0 10px;
  padding:50px 10px;
  background:#1db1ff;
  font-weight:700;
  color:#fff;
  font-size:20px;
  text-align:center
}

/* Sticky footer styles
-------------------------------------------------- */
html,body
{
  height:100%
/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap
{
  min-height:100%;
  height:auto!important;
  height:100%;
/* Negative indent footer by it's height */
  margin:0 auto -60px
}

/* Set the fixed height of the footer here */
#push,#footer
{
  height:60px
}

#footer
{
  background-color:#9f9079
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer
  {
    margin-left:-20px;
    margin-right:-20px;
    padding-left:20px;
    padding-right:20px
  }
}

/*Gallery CSS*/
.nav-tabs > .active > a,.nav-tabs > .active > a:hover
{
  background-color:#dbd19a
}

#gallery
{
  margin-top:-30px
}

#slider
{
  padding:13px 0
}

#slider li div{}

#gallery nav
{
  height:35px;
  position:relative
}

#position
{
  text-align:center;
  font-size:27px;
  line-height:1.3;
  color:#b8b8b8;
  display:block;
  position:absolute;
  top:0;
  left:50%;
  margin-left:-75px;
  width:150px
}

#position em
{
  display:inline-block;
  padding:0 3px;
  font-style:normal;
  text-shadow:0 -1px 0 rgba(0,0,0,.35);
  font-family:sans-serif;
  font-size:40px
}

#position em.on
{
  color:#666132
}

#prev
{
  display:inline-block;
  text-decoration:none;
  position: absolute;
  left: -4.5em;
}

#prev, #next
{
  position:absolute;
  top:40%;
  right:-20px;
  width:40px;
  height:40px;
  margin-top:235px;
  font-size:60px;
  font-weight:100;
  line-height:30px;
  color:#fff;
  text-align:center;
  background:#222;
  border:3px solid #fff;
  -webkit-border-radius:23px;
  -moz-border-radius:23px;
  border-radius:23px;
  opacity:.5;
  filter:alpha(opacity=50);
  z-index:100;
  text-decoration: none;
}

#prev
{
  left:-40px;
}


#prev:hover, #next:hover{
  opacity:1;
  filter:alpha(opacity=100);
}

.breadcrumb{
  background-color: transparent;
}
